html, body, ul, h1, p, form, select {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial;
	font-size: 14px;
	background-color: #69727C;
}

.text input {
	display: block;
    border: none;
    border-radius: 20px;
    padding: 5px 8px;
    color: #333;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1);
}

.text input:focus {
	outline: none;
    box-shadow: 
        inset 0 2px 0 rgba(0,0,0,.2), 
        0 0 4px rgba(0,0,0,0.1), 
        0 0 5px 1px #51CBEE;
}

table {
	text-align: left;
	/*table-layout: fixed;*/
}

td {
	padding: 8px;
}

thead {
	/*border-bottom: 1px solid grey;*/
	background-color: #fff;
	width: 100%;
	background: url(titlesBg.png) repeat-x;
}

thead td {
	cursor: pointer;
}

thead td a { 
	color: #000;
	text-decoration: none;
	border-bottom: 1px dashed #3276DB; 
	font-weight: bold;
}

tbody {
	/*position: relative;*/
}

tbody tr {
	position: relative;
	overflow: hidden;
	width: 100%;

}

tbody tr:hover {
	background-color: #E5E9F0;
}

.wrapper {
	padding: 20px;
	background-color: #fff;
	margin: 40px 10px 0;
}

.controls {
	height: 35px;
	position: relative;
	margin: 20px 0;
}

.sorting {
	font-weight: bold;
	font-size: 12px;
	left: 320px;
}

.sorting p {
	margin-bottom: 5px;
}

.text input {
	height: 14px;
}

.text, .sorting {
	float: left;
	position: absolute;
	bottom: 0;
}

table { width: 100%; }

.fixed {
	position: fixed;
	top: 0;
}

.pageSelect {
	padding: 30px 3px;
}

.pageSelect span {
	padding: 0 5px;
	color: #3276DB;
	font-size: 14px;
	cursor: pointer;
}

.pageSelect span:hover {
	background-color: #E5E9F0;
	color: rgb(173, 53, 53);
}

.editIcon {
	visibility: hidden;
	display: block;
	/*float: right;*/
	background: url(../images/pen.png) no-repeat;
	width: 15px;
	height: 15px;
	margin: 8px;
	cursor: pointer;
}

.visible {
	visibility: visible;
}